body {
    font-family: 'Quicksand', sans-serif;
}

i {
    padding: 10px;
}

.top {
    margin-top: 46px;
}

.cimage {
    margin-top: 10px;
    height: 350px;
}

.iconimg {
    margin-top: 40px;
    height: 100px;
    width: 100px;
}

.profile {
    text-align: center;
}

.profile h1 {
    margin-bottom: 20px;
}

.profile p {
    margin-left: 20px;
    margin-right: 20px;
}

.parallax {
    height: 400px;
    color: #fff;
    /* text-align: center; */
    text-align: left;
    padding: 50px;
}

.parallax2{
    height: 400px;
    color: #fff;
    text-align: right;
    padding: 50px;
    opacity: 0.9%;
}

.content{
    padding: 20px;
    text-align: center;
}

.footer{
    height: 50px;
    color: #000;
    padding: 10px;
}

.right{
    float: right;
    color: #212529;
}

